<% provide(:title,"CONTACT") %>
<% provide(:content, "Contact Rajat Verma, email: rverma@sfu.ca") %>


<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>
<h2> 
	<%= yield (:content) %>
</h2>
