<% provide(:title,"HELP") %>
<% provide(:content, "For any questions, Please contact us by email: rverma@sfu.ca") %>
<% provide(:name, "Help") %>
<h1> 
	<%= yield (:name) %>
</h1>
<h2>
	<%= yield (:content) %>
</h2>
	
