<% provide(:title,"HELP") %>
<% provide(:content, "For any questions, Please contact us by email: rverma@sfu.ca") %>
<% provide(:name, "Help") %>

<h1>SFU USED BOOK SALES</h1>
<h2> 
	<%= yield (:name) %>
</h2>
<p>
	<%= yield (:content) %>
</p>
	
