<% provide(:title,"HOME") %>
<% provide(:content, "This app provides you with a platform for buying/selling SFU books.") %>
<% provide(:name, "Home") %>

<h1>SFU USED BOOK SALES</h1>
<h2> 
	<%= yield (:name) %>
</h2>
<p>
	<%= yield (:content) %>
</p>
