<footer class="footer">
  <small>
    The <a href="https://github.com/rk-verma/cmpt-276">SFU Used Books Sales by Group-11</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.ca/">News</a></li>
    </ul>
  </nav>
</footer>